.datos-curiosos-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.datos-curiosos-container .titulo {
    margin-top: 60px;
    margin-left: 50px;
    text-align: center;
    grid-column: 1/6;
    font-size: 30px;
}

.datos-curiosos-container .dato {
    padding-left: 50px;
    padding-top: 40px;
    text-align: justify;
    grid-column: 1/6;
    font-size: 40px;
}

.datos-curiosos-container .boton {
    grid-column: 1/3;
    margin: 0px 0px 0px 50px;
    padding-top: 50px;
    display: flex;
    align-items: left;
    justify-content: left;
}

@media only screen and (max-width: 768px) {
    .datos-curiosos-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .datos-curiosos-container .titulo {
        margin-top: 60px;
        text-align: center;
        grid-column: 1/1;
        font-size: 20px;
    }

    .datos-curiosos-container .boton > button {
        width: 200px;
        height: 50px;
    }

    .datos-curiosos-container .dato {
        grid-column: 1/1;
        font-size: 20px;
        padding-top: 50px;
        padding-right: 20px;
    }    
    
}