h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}

Button {
    align-items: center;
    margin: 0;
    top: 46%;
    left: 46%;
}

img {
    padding-top: 20%;
    max-width: 60%;
    height: auto;
}