.preguntas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.preguntas-container .adicionales {
    color: #ffffff;
    text-align: center;
    grid-column: 1/4;
    padding: 70px 100px 30px 100px;
    font-size: 40px;
}

.preguntas-container .pregunta {
    color: #ffffff;
    text-align: center;
    grid-column: 1/4;
    padding: 50px 100px 70px 100px;
    font-size: 50px;
}

.preguntas-container > .opcion {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .preguntas-container .pregunta {
        color: #ffffff;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        grid-column: 1/1;
        font-size: 20px;
    }
    .preguntas-container .adicionales {
        color: #ffffff;
        text-align: center;
        grid-column: 1/1;
        padding-top: 10px;
        font-size: 20px;
    }
    .preguntas-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .preguntas-container > .opcion {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
}